In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession
spark =SparkSession.builder\
      .appName("Basics")\
      .getOrCreate()
spark.version

'4.0.1'

#FirstDataFrame

In [4]:
data=[
    {"name": "Arjun","age":21},
    {"name": "Sam","age":21},
    {"name": "Anya","age":21}

]
df= spark.createDataFrame(data)
df.show()

+---+-----+
|age| name|
+---+-----+
| 21|Arjun|
| 21|  Sam|
| 21| Anya|
+---+-----+

In [5]:
df.printSchema

In [6]:
df.select("name").show()
df.select("name","age").show()

+-----+
| name|
+-----+
|Arjun|
|  Sam|
| Anya|
+-----+

+-----+---+
| name|age|
+-----+---+
|Arjun| 21|
|  Sam| 21|
| Anya| 21|
+-----+---+

In [9]:
df.filter(df.age>20).show()
df.filter(df.name=="Sam").show()

+---+-----+
|age| name|
+---+-----+
| 21|Arjun|
| 21|  Sam|
| 21| Anya|
+---+-----+

+---+----+
|age|name|
+---+----+
| 21| Sam|
+---+----+

In [11]:
from pyspark.sql.functions import col
df2=df.withColumn("age_plus_5",col("age")+5)
df2.show

In [12]:
from pyspark.sql.functions import lower
df3=df.withColumn("name_lower",lower(col("name")))
df3.show()

+---+-----+----------+
|age| name|name_lower|
+---+-----+----------+
| 21|Arjun|     arjun|
| 21|  Sam|       sam|
| 21| Anya|      anya|
+---+-----+----------+