In [3]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
df = spark.createDataFrame(data, columns)
df.show()

NameError: name 'spark' is not defined

In [4]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("CustomerData").getOrCreate()

# Create DataFrame
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
df = spark.createDataFrame(data, columns)

df.show(10)

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+
only showing top 10 rows

In [5]:
df.select("city").distinct().show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

In [6]:
df.select("customer_id","name","annual_spend").show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

In [7]:
df.filter(df.annual_spend>60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

In [8]:
df.filter((df.city=="Delhi")&(df.age<30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend|   category|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

In [9]:
from pyspark.sql.functions import col
df=df.withColumn("spend_lakh",col("annual_spend")/100000)
df.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import when
df=df.withColumn("customer_type",when (df.annual_spend>70000,"Premium").otherwise("Standard"))
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows

In [11]:
df.filter(df.name.startswith("A")).show()

+-----------+-----+---------+---+------------+-----------+----------+-------------+
|customer_id| name|     city|age|annual_spend|   category|spend_lakh|customer_type|
+-----------+-----+---------+---+------------+-----------+----------+-------------+
|       C001|Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C009| Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C015| Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C023| Ajay|  Chennai| 30|       51000|  Furniture|      0.51|     Standard|
|       C028|Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|
+-----------+-----+---------+---+------------+-----------+----------+-------------+

In [12]:
df.filter(df.category.isin("Clothing","Electronics")).show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|     Standard|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|     Standard|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|      0.68|     Standard|
+-----------+------+---------+---+------------+-----------+----------+-------------+

In [14]:
from pyspark.sql.functions import upper
df=df.withColumn("city_upper",upper(df.city))
df.show(

)

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard| HYDERABAD|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|   CHENNAI|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|     DELHI|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|     DELHI|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard| HYDERABAD|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|     DELHI|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard| BANGALORE|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard| HYDERABAD|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
only showing top 20 rows

In [15]:
df=df.drop("catagory")
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard| HYDERABAD|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|   CHENNAI|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|     DELHI|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|     DELHI|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard| HYDERABAD|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|     DELHI|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard| BANGALORE|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard| HYDERABAD|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
only showing top 20 rows

In [16]:
df.orderBy(df.age.desc()).show()

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|       0.9|      Premium| HYDERABAD|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      0.82|      Premium|    MUMBAI|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard| HYDERABAD|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard| HYDERABAD|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|      0.68|     Standard| BANGALORE|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|   CHENNAI|
|       C022|  Zara|Hyderabad| 32|       58000|    Grocery|      0.58|     Standard| HYDERABAD|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|     DELHI|
|       C023|  Ajay|  Chennai| 30|       51000|  Furniture|      0.51|     Standard|   CHENNAI|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|     Standard| BANGALORE|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import avg
avg_age=df.select(avg("age")).first()[0]
df.filter(df.age<avg_age).show()

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard| HYDERABAD|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|     DELHI|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|     DELHI|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard| BANGALORE|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|     Standard|     DELHI|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|     Standard| BANGALORE|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|     Standard|     DELHI|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|   CHENNAI|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|      0.36|     Standard|     DELHI|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+

In [18]:
df.orderBy(df.annual_spend.desc()).show(5)

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|       0.9|      Premium| HYDERABAD|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      0.82|      Premium|    MUMBAI|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+
only showing top 5 rows

In [19]:
mumbai_df=df.filter(df.city=="Mumbai")
mumbai_df.show()

+-----------+------+------+---+------------+-----------+----------+-------------+----------+
|customer_id|  name|  city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|
+-----------+------+------+---+------------+-----------+----------+-------------+----------+
|       C005|Sanjay|Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|
|       C010|  Ritu|Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|
|       C014| Deepa|Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|
|       C019| Nisha|Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|
|       C025|Gautam|Mumbai| 39|       82000|  Furniture|      0.82|      Premium|    MUMBAI|
+-----------+------+------+---+------------+-----------+----------+-------------+----------+

In [20]:
from pyspark.sql.functions import substring
df=df.withColumn("first_letter",substring("name",1,1))
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|first_letter|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard| HYDERABAD|           A|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|   CHENNAI|           M|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|           R|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|     DELHI|           P|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|           S|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|           K|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|     DELHI|           I|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|           D|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|           A|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|           R|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard| HYDERABAD|           H|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|     DELHI|           S|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|           V|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|           D|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard| BANGALORE|           A|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|           K|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard| HYDERABAD|           F|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|           T|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|           N|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|           Y|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import concat,lit,substring
df=df.withColumn("masked_id",concat(lit("***"),substring("customer_id",-2,2)))
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+---------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|customer_type|city_upper|first_letter|masked_id|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+---------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard| HYDERABAD|           A|    ***01|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|   CHENNAI|           M|    ***02|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard| BANGALORE|           R|    ***03|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|     DELHI|           P|    ***04|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    MUMBAI|           S|    ***05|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard| HYDERABAD|           K|    ***06|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|     DELHI|           I|    ***07|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|   CHENNAI|           D|    ***08|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium| BANGALORE|           A|    ***09|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    MUMBAI|           R|    ***10|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard| HYDERABAD|           H|    ***11|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|     DELHI|           S|    ***12|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|   CHENNAI|           V|    ***13|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    MUMBAI|           D|    ***14|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard| BANGALORE|           A|    ***15|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|     DELHI|           K|    ***16|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard| HYDERABAD|           F|    ***17|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|   CHENNAI|           T|    ***18|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    MUMBAI|           N|    ***19|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium| BANGALORE|           Y|    ***20|
+-----------+------+---------+---+------------+-----------+----------+-------------+----------+------------+---------+
only showing top 20 rows

In [22]:
df.groupBy("city").count().show()

+---------+-----+
|     city|count|
+---------+-----+
|Bangalore|    6|
|  Chennai|    6|
|   Mumbai|    5|
|    Delhi|    7|
|Hyderabad|    6|
+---------+-----+